<section>
  <figure>
    <img id="login-logoImg" src="../../../assets/images/logo-login.png" alt="logo" />
  </figure>
  <main>
    <form>
      <h2>Introduce tus datos para iniciar sesión</h2>
      <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Correo Electrónico" name="email" [(ngModel)]="user.email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" name="password"
          [(ngModel)]="user.password">
      </div>
      <button type="submit" class="btn btn-outline-warning mt-2" (click)="loginWithEmail()">Iniciar Sesión</button>
      <button type="submit" class="btn btn-outline-primary mt-2" (click)="loginWithGoogle()">Inicia Sesión con
        Google</button>
      <button type="submit" class="btn btn-outline-secondary mt-2" routerLink="/registerPhone">Inicia Sesión con
        SMS</button>
      <label class="mt-4">o crear cuenta nueva</label>
      <button type="submit" class="btn btn-dark mt-2" routerLink="/register">Crear Cuenta</button>
    </form>
  </main>
</section>
